body {
	padding: 60px 10px;
}

h1 {
	text-align:center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 40px;
}
h2 {
	text-align:center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

#game {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-bottom: 40px;
}
.hand {
	flex: 1;
	display: grid;
	place-items: center;
	font-size: clamp(4rem, 20vw, 10rem);
	padding:  clamp(0, 10vw, 30px);
	border: 1px solid black;
	max-width: 200px;
	border-radius: 10px;
	aspect-ratio: 1/1;
}

#result {
	display: flex;
	justify-content: center;
}
.player, #winner {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.player .hand {
	padding:  clamp(10px, 5vw, 30px);
}

#again {
	font-size: 24px;
	padding: 10px 20px;
	background: #eee;
	border: 1px solid black;
	border-radius: 10px;
}
#again:hover {
	background: #ddd;
}
#again:active {
	transform: scale(0.9)
}